# Análise exploratória de dados

In [67]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, Markdown as md
%matplotlib inline

# 1. Descrição dos dados

In [116]:
df_dict = pd.read_csv("../data/external/dicionario.csv")
df = pd.read_csv("../data/raw/Churn_Modelling.csv")

#Print Descrição
display(md("### `Descrição do DataSet`"))
display(md(""" --- \n Este conjunto de dados contém informações sobre **clientes bancários e seu status de rotatividade**, 
                 o que indica se eles saíram do banco ou não. É adequado para explorar e analisar fatores que influenciam a 
                 rotatividade de clientes em instituições bancárias e para construir modelos preditivos para identificar clientes em risco de rotatividade.
                 \n---   
                """))

#Print DataSet
display(md("### `DataSet`"))
display(df.head())

#Print Dicionario
display(md("### `Dicionário de Dados`"))
display(df_dict)

nome_variavel = df_dict['Variavel']

#Tipo e Subtipos
display(md('---\n **DataSet possue 12 variáveis sendo elas:**'))
for variavel in nome_variavel:
    print(f"{variavel}, " , end=' ')
display(md('---\n'))

display(md("### `Categoria das Variáveis`"))
display(df_dict[['Tipo', 'Subtipo']].value_counts().to_frame())

### `Descrição do DataSet`

 ---
 Este conjunto de dados contém informações sobre **clientes bancários e seu status de rotatividade**,
                 o que indica se eles saíram do banco ou não. É adequado para explorar e analisar fatores que influenciam a
                 rotatividade de clientes em instituições bancárias e para construir modelos preditivos para identificar clientes em risco de rotatividade.

---

### `DataSet`

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### `Dicionário de Dados`

,Variavel,Descrição,Tipo,Subtipo
0,RowNumber,O número sequencial atribuído a cada linha no ...,Quantitativo,Discreta
1,CustomerId,Identificador único de cada cliente,Qualitativo,Nominal
2,Surname,Indica o sobrenome do cliente.,Qualitativo,Nominal
3,CreditScore,Indica a pontuação de crédito do cliente.,Quantitativo,Discreta
4,Geography,Localização geográfica do cliente (país ou reg...,Qualitativo,Nominal
5,Gender,Gênero do cliente,Qualitativo,Nominal
6,Age,Idade do cliente,Quantitativo,Discreta
7,Tenure,Indica número de anos que o cliente está no ba...,Quantitativo,Discreta
8,Balance,Indica o saldo da conta do cliente,Quantitativo,Contínua
9,NumOfProducts,Indica o número de produtos bancários que o cl...,Quantitativo,Discreta
10,HasCrCard,Indica se o cliente tem cartão de crédito (sim...,Qualitativo,Nominal
11,IsActiveMember,Indica se o cliente é um membro ativo (sim ou ...,Qualitativo,Nominal
12,EstimatedSalary,Indica o salário estimado do cliente,Quantitativo,Contínua
13,Exited,Indica se o cliente saiu ou não do banco (sim ...,Qualitativo,Nominal

---
 **DataSet possue 12 variáveis sendo elas:**

RowNumber,  CustomerId,  Surname,  CreditScore,  Geography,  Gender,  Age,  Tenure,  Balance,  NumOfProducts,  HasCrCard,  IsActiveMember,  EstimatedSalary,  Exited,

---

### `Categoria das Variáveis`

                       0
Tipo         Subtipo
Qualitativo  Nominal   7
Quantitativo Discreta  5
             Contínua  2

# 2. Perguntas de partida e hipóteses

### Dados Faltantes

# 3. Insights